<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../../pagePublic/metronic/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../pagePublic/metronic/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../pagePublic/metronic/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="../../pagePublic/metronic/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../pagePublic/metronic/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"
          rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet"
          type="text/css"/>
    <link href="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES -->

    <!--控制是否圆角-->
    <link href="../../pagePublic/metronic/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/css/pages/tasks.css" rel="stylesheet" type="text/css"/>
    <link href="../../pagePublic/metronic/assets/css/themes/default.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="../../pagePublic/metronic/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->


    <link href="../../../../lh_file/css/main.min.css" rel='stylesheet'>
</head>
<body ng-app="myApp">

<!-- BEGIN PAGE -->
<div class="page-content" ng-controller="rootController">


    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                应急预案浏览
                <small>statistics and more</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Dashboard</a></li>
            </ul>

            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- CONTENT BODY GOES HERE >>>> -->


    <div class="row">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable " id="sideList">
                <li class="sl-li" ng-repeat="sl in sideListData">
                    <a data-toggle="tab" href="#tab_1" class="sl-name" >
                        <i class="fa fa-edit " ng-click="copySideListClick(this)"></i>

                        {{sl.name}}--{{liaohui+$id}}


                    </a>

                    <div class="input-group " style="display: none">

                        <input class="form-control" type="text" ng-model="sl.name">
											<span class="input-group-btn ">
											    <button class="btn green" type="button"
                                                        ng-click="clickSideListEdit(this)">修改
                                                </button>

                                                <button class="btn red sl-close" type="button"
                                                        ng-click="clickSideListDel(this)">
                                                    删除

                                                </button>
                                                <button class="btn grey sl-close" type="button" ng-click="sl =copySideList">
                                                    取消

                                                </button>
											</span>
                    </div>
                    <!--<span class="after"></span>-->
                </li>



            </ul>

            <div class="sl-li" ng-show="showSideListAdd">


                <form class="input-group ">

                    <input class="form-control" type="text" ng-model="formSideList.name">
											<span class="input-group-btn ">
											    <button class="btn green" type="button"
                                                        ng-click="[clickSideListAdd(formSideList) , showSideListAdd=true, formSideList={}]">确定
                                                </button>
                                                 <button class="btn grey sl-close" type="button" ng-click="showSideListAdd=false">
                                                     取消

                                                 </button>
											</span>
                </form>
                <!--<span class="after"></span>-->
            </div>
            <div class="panel " style="padding-top: 15px;">

                <div style=" cursor: pointer; line-height: 1.8; height: 25px;"

                     ng-click="[showSideListAdd=true, formSideList={}]"
                     class="label label-default">

                    <i class="fa fa-plus"></i>
                    增加新标题
                </div>


            </div>
        </div>


        <div class="col-md-9">

            <div class="panel panel-default" ng-hide="listContentData">
                <div class="panel-body text-center">没有数据</div>
            </div>

            <div class="panel panel-default" ng-repeat="lc in listContentData">
                <div class="panel-heading " style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="row">
                        <div class=" col-md-10" style="padding-top: 5px">

                                    <span>
                                        {{$index+1}}. <span ng-bind="lc.title"></span>
                                    </span>

                        </div>
                        <div class="col-md-2">
                            <div class="btn-group btn-group-sm pull-right " style="padding: 0; margin: 0"
                                 ng-hide="listContentEdit"
                            >

                                <button type="button" class="btn btn-default" ng-click="listContentDel(this)">删除
                                </button>
                                <button type="button" class="btn btn-default" ng-click="[this.listContentEdit = true , copyListContent(this)]">
                                    编辑
                                </button>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="panel-body">
                    {{listContentEdit}}

                    <form ng-show="listContentEdit">
                        <div class="form-group">
                            <label for="exampleInputEmail1">标题</label>
                            <input type="text" class="form-control" placeholder="{{lc.title}}"
                                   ng-model="lc.title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">内容</label>
                                        <textarea class="form-control" ng-model="lc.content"
                                                  placeholder="{{lc.content}}"></textarea>
                        </div>


                    </form>


                    <div ng-bind="lc.content" ng-hide="listContentEdit"></div>


                </div>
                <div class="panel-footer clearfix" ng-show="listContentEdit">
                    <div class="pull-right">

                        <button type="button" class="btn btn-default" ng-click="[ listContentEdit = false , listContentCancelClick(this) ]">取消</button>
                        <button type="submit" class="btn blue" ng-click="listContentEditClick(this)">确定</button>
                    </div>

                </div>
            </div>


            <!--新建内容-->
            <div class="panel panel-primary" ng-show="listContentAdd">
                <div class="panel-heading " style="padding-top: 5px; padding-bottom: 5px;">
                    <div class="row">
                        <div class=" col-md-10" style="padding-top: 5px">

                            新建内容

                        </div>
                        <div class="col-md-2">


                        </div>
                    </div>


                </div>
                <div class="panel-body">

                    <form name="">
                        <div class="form-group">
                            <label>标题</label>
                            <input type="text" class="form-control"
                                   ng-model="formListContentAdd.title">
                        </div>
                        <div class="form-group">
                            <label>内容</label>

                                        <textarea class="form-control" ng-model="formListContentAdd.content"
                                                  placeholder=""></textarea>
                        </div>


                    </form>


                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">

                        <button type="button" class="btn btn-default"
                                ng-click="[formListContentAdd={} , listContentAdd=false]">取消
                        </button>
                        <button type="submit" class="btn btn-primary"
                                ng-click="[listContentAddClick(formListContentAdd) , listContentAdd=false , formListContentAdd={}]">
                            确定
                        </button>
                    </div>

                </div>
            </div>


            <div class="panel">
                <div class="panel-body text-center">
                    <button class="btn btn-lg default img-circle" data-toggle="tooltip" data-placement="right"
                            title="增加新的内容" ng-click="listContentAdd=true"
                            style="width:50px; height: 50px; border-radius: 50%"><i class="fa fa-plus"></i></button>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- END PAGE -->


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../pagePublic/metronic/assets/plugins/respond.min.js"></script>
<script src="../../pagePublic/metronic/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="../../pagePublic/metronic/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../pagePublic/metronic/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE../../pagePublic/metronic/ PLUGINS -->
<!-- BEGIN PA../../pagePublic/metronic/GE LEVEL PLUGINS -->
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/flot/jquery.flot.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/bootstrap-daterangepicker/moment.min.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
<!-- IMPORTAN../../pagePublic/metronic/T! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="../../pagePublic/metronic/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"
        type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE../../pagePublic/metronic/ LEVEL PLUGINS -->
<!-- BEGIN PA../../pagePublic/metronic/GE LEVEL SCRIPTS -->
<script src="../../pagePublic/metronic/assets/scripts/app.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/scripts/index.js" type="text/javascript"></script>
<script src="../../pagePublic/metronic/assets/scripts/tasks.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->


<script src="../../../../angular.js"></script>

<script src="../../../configCeshi.js"></script>
<script src="../../../../lh_file/js/main.js"></script>


<!--<script src="../../../bower_components/wangEditor/dist/js/wangEditor.min.js"></script>-->
<script src="../../js/controller/应急预案浏览/ceshi.js"></script>
</body>
</html>