<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.css" rel='stylesheet'>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap-theme.css" rel='stylesheet'>
    <link href="../../../../lh_file/css/main.min.css" rel='stylesheet'>


</head>


<style>
    .switch {
        /* frame */
        height: 20px;

    }

    .switch small {
        /* button */
        height: 20px;
        width: 20px;
    }

    .switch.checked {
        /* frame when enabled */
        width: 42px;
    }

    .badge {
        background-color: #bbbbbb;

    }

    .user-list {
        border-bottom: 1px solid #f0ad4e;
    }

    .bagde-item {
        background-color: #fff;
        color: #000;
        font-size: 14px;
        font-weight: normal;
    }
</style>
<body>

<!--myApp-->
<div ng-app="myApp" class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">分配权限
                <small>User list</small>
            </h3>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs ">
                <li role="presentation"><a href="#">用户管理</a></li>
                <li role="presentation"><a href="#">企业管理</a></li>
                <li role="presentation"><a href="#">权限管理</a></li>
                <li role="presentation" class="active"><a href="#">分配权限</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i><a href="">账户管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li><a href="#">用户列表 </a></li>
                <li class="pull-right">
                    <div data-original-title="Change dashboard date range" data-placement="top"
                         class="dashboard-date-range tooltips" id="dashboard-report-range">
                        <i class="fa fa-calendar"></i>
                        <span></span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--zuzhijiagou-->
    <div class="row" ng-controller="rootController">


        <div class="col-md-8">


            <div class="panel panel-default">
                <div class="panel-body">

                    <!--用户资料-->
                    <div ng-if="guanlianShow==true" class="row">
                        <div class="col-sm-6">


                            <img ng-src="../../images/user.png" class="img-rounded " style="width: 300px">

                            <div style="position: relative">

                                <h3 ng-bind="guanlianUser.canshu1">用户名字 </h3>
                                <span class="label label-success" style="position: absolute;top:5px;left: 270px"
                                      ng-bind="guanlianUser.canshu11">女</span>




                                <address>
                                    <span><span class="glyphicon glyphicon-envelope"></span>&nbsp;邮箱地址</span><br>
                                    <a href="mailto:#" ng-bind="guanlianUser.canshu10">first.last@example.com</a>
                                </address>

                            </div>


                        </div>
                        <div class="col-sm-6">

                            <ul class="list-group" style="box-shadow:none">
                                <li class="list-group-item user-list" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu2">14</span>
                                    <span class="text-muted">年龄</span>
                                </li>

                                <li class="list-group-item user-list" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu3">1985年12月13日</span>
                                    <span class="text-muted">出生时间</span>
                                </li>
                                <li class="list-group-item user-list" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu4">石油公司石油公司</span>
                                    <span class="text-muted">所在职位</span>
                                </li>


                                <li class="list-group-item user-list" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu5">已婚</span>
                                    <span class="text-muted">婚姻状况</span>
                                </li>
                                <li class="list-group-item" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu6">共青团员</span>
                                    <span class="text-muted">政治面貌</span>
                                </li>
                                <li class="list-group-item user-list" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu7">12年</span>
                                    <span class="text-muted">工作年限</span>
                                </li>

                                <li class="list-group-item user-list" style="border: none">
                                    <span class="badge bagde-item" ng-bind="guanlianUser.canshu8">电话</span>
                                    <span class="text-muted">电话</span>
                                </li>

                                <li class="list-group-item user-list" style="border: none">

                                    <span class="text-muted">家庭住址</span>
                                    <p></p>
                                    <p ng-bind="guanlianUser.canshu9">
                                        中国 河南省 郑州市 金水区 花园路与金水路交叉口 金水大厦3楼304室

                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--/ .用户资料-->




                    <div  ng-if="guanlianShow==false" class="jumbotron text-center" style="margin-bottom:0; height:310px; background-color: #fff;">
                        <!--<h1 class=" glyphicon glyphicon-random"></h1>-->
                        <!--<p>关联用户名和账户</p>-->
                        <h4 style="margin-top: 20px; margin-bottom: 30px">关联用户名和账户</h4>
                        <p></p>
                        <p></p>
                        <div class="center-block" style="width: 300px">


                            <ui-select ng-model="userLists.partyId" theme="selectize" ng-disabled="disabled"  title="Choose a country">
                                <ui-select-match placeholder="搜索用户 ">{{$select.selected.firstName}}</ui-select-match>
                                <ui-select-choices repeat="row.partyId  as row in userLists | propsFilter: {firstName: $select.search}">
                                    <span ng-bind-html="row.firstName"></span>

                                </ui-select-choices>
                            </ui-select>

                            <button ng-show="userLists.partyId" class="btn btn-primary btn-block" ng-click="guanlianClick(userLists.partyId)">确认关联</button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="list-inline" style="margin-bottom: 0">
                        <li><strong>登录帐号</strong>: {{zhanghao.userLoginId}}</li>
                        <li><strong>启用状态</strong>: {{zhanghao.enabled | YNtoHanzi:zhanghao.enabled}}</li>
                        <li><strong>所属企业</strong>: {{zhanghao.partyGroupId}}</li>
                        <li><strong>创建机构</strong>: {{zhanghao.jigou}}</li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="col-md-4">


            <div class="list-group">
                <a href="#" class="list-group-item disabled active">
                    权限列表
                </a>
                <div class="list-group-item" ng-repeat="q in quanxians">


                    <div class="row">

                        <div class="col-sm-8 col-md-8 col-xs-8" ng-bind="q.name"></div>

                        <div class=" col-sm-4 col-md-4 col-xs-4">

                            <div class="pull-right">
                                <switch class="small " name="enabled" ng-model="q.quanxian"
                                        ng-change="changeCallback(q)"></switch>

                            </div>

                        </div>


                    </div>

                    <div class="row">
                        <div class="panel ">
                            <div class="panel-body col-sm-12" style="padding-bottom: 0">
                                <ul class="list-inline">
                                    <li ng-repeat='r in  q.miaoshu'><span class="label label-info" ng-bind="r"></span>
                                    </li>
                                </ul>


                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>


    </div>
    <!--/ zuzhijiagou-->


</div>
<!--/myApp-->

<script src="../../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../../bower_components/angular/angular.js"></script>
<script src="../../../configCeshi.js"></script>
<script src="../../../../lh_file/js/main.js"></script>


<script src="../../js/controller/分配权限/ceshi.js"></script>
</body>
</html>
