<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel='stylesheet'>
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel='stylesheet'>
    <link href="../../../bower_components/angular-gantt/dist/angular-gantt.css" rel='stylesheet'>
    <link href="../../../bower_components/angular-gantt/dist/angular-gantt-plugins.css" rel='stylesheet'>
    <link href="../../../../lh_file/css/main.min.css" rel='stylesheet'>
</head>
<body ng-app="myApp">

<div ng-controller="rootController">

    <!--<div gantt data=data></div>-->
    <!---->

    <!--<div gantt headers="['month', 'week', 'day']" data=data></div>-->

    <!-- Datetime example -->


    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-2">
                <strong>任务日历</strong>

                <input ng-model="edit">
                <button ng-click="editClick()">edit</button>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="rili.labelsEnabled" value="false"> 侧边显示
                    </label>
                </div>

                <div class="btn-group btn-group-sm pull-right" data-toggle="radio">
                    <label class="btn btn-default ">
                        <input type="radio" ng-model="rili.riqi"
                               value="years" name="options" id="option1" autocomplete="off" checked> 年 years
                    </label>
                    <label class="btn btn-default">
                        <input type="radio"
                               ng-model="rili.riqi"
                               value="month"
                               name="options" id="option2" autocomplete="off"> 月 month
                    </label>
                    <label class="btn btn-default">
                        <input type="radio"
                               ng-model="rili.riqi"
                               value="week"
                               name="options" id="option3" autocomplete="off"> 周 week
                    </label>
                    <label class="btn btn-default">
                        <input type="radio"
                               ng-model="rili.riqi"
                               value="day"
                               name="options" id="option4" autocomplete="off"> 日 day
                    </label>
                    <label class="btn btn-default">
                        <input type="radio"
                               ng-model="rili.riqi"
                               value="hour"
                               name="options" id="option5" autocomplete="off"> 时 hour
                    </label>
                </div>
            </div>

        </div>


        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                {{getToday}}{{1000|currency}}
                <!--<div gantt headers="[riqi]"  current-date="line"   data="data" auto-expand="left"></div>-->
                <!--<div gantt   current-date="getToday"></div>-->

                <!--gantt table-->
                <div gantt data=data
                     api="rili.api"
                     show-side="rili.labelsEnabled"
                     daily="rili.daily"
                     view-scale="rili.riqi"
                >
                    <gantt-table></gantt-table>
                    <gantt-movable></gantt-movable>
                    <gantt-tooltips></gantt-tooltips>
                    <gantt-draw-task
                            enabled="true"
                            task-factory="rili.drawTaskFactory">
                    </gantt-draw-task>
                </div>
                <!--.gantt table-->

            </div>
        </div>

    </div>


    <!--修改时间-->
    <div class="modal fade" id="editTime">
        <form >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">



                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Task Name</label>
                                    <input type="text" class="form-control" ng-model="editFrom.taskName">
                                </div>
                                <div class="form-group">
                                    <label >Task From Time</label>

                                    <div class="form-group">
                                        <input type="text" size="10" class="form-control" ng-model="time"
                                               data-autoclose="1" placeholder="Date" bs-datepicker>
                                    </div>


                                    <!--<input type="text" class="form-control" ng-model="editFrom.taskFrom">-->
                                </div>

                                <div class="form-group">
                                    <label class="control-label"><i class="fa fa-calendar"></i> Datetime picker</label><br>
                                    <div class="form-group">
                                        <input type="text" size="10" class="form-control" ng-model="time"
                                               data-autoclose="1" placeholder="Date" bs-datepicker>
                                    </div>
                                    <div class="form-group">
                                        {{time}}
                                        <input type="text" class="form-control" size="8" ng-model="time" name="time"
                                               bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1"
                                               data-arrow-behavior="picker"></div>
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputPassword1">Task From Time To</label>
                                    <input type="text" class="form-control" ng-model="editFrom.taskTo">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Task Color</label>
                                    <input type="text" class="form-control" ng-model="editFrom.taskColor">
                                </div>


                            </div>


                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="editClick()">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->

</div>


<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>

<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../../angular.js"></script>

<script src="../../../configCeshi.js"></script>
<script src="../../../../lh_file/js/main.js"></script>
<!--<script src="//cdn.bootcss.com/angular-i18n/1.5.0/angular-locale_zh-cn.js"></script>-->
<script src="../../../bower_components/moment/moment.js"></script>
<script src="../../../bower_components/angular-moment/angular-moment.js"></script>
<script src="../../../bower_components/angular-gantt/dist/angular-gantt.js"></script>
<script src="../../../bower_components/angular-gantt/dist/angular-gantt-plugins.js"></script>
<script src="../../../bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="../../../bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>

<script src="../../js/controller/日历rili/ceshi.js"></script>
</body>
</html>